// layouts are for grids in Sass 



.wildlife{
    grid-area: wildlife;
    background-color: aqua;
}

.animals {
    grid-area: paragraph 
}

.pic1 {
    grid-area: pic1
} 

.pic2 {
    grid-area: pic2
}

.pic3 {
    grid-area: pic3
}